<%- include('includes/head') %>

<section class="container">
  <h1><%= umaVariavelLocal %></h1>

  <!-- <h1>
        <% if (typeof titulo !== 'undefined') { %> <%= titulo %> <% } else { %>
        O título não foi carregado. <% } %>

        <% numeros.forEach(num => { %> <%= num %> <br />
        <% }); %>
      </h1> -->

  <h1>Lorem ipsum dolor sit</h1>

  <form action="/" method="post">
    <label>Cliente</label>
    <input type="text" name="cliente" />
    <button>submit</button>
  </form>
</section>

<%- include('includes/footer') %>
